---
title: Origami Newsletter, January 2019
companion_post_url: https://origami-test.ft.com/blog/2019/01/30/newsletter/
---


<!-- Preamble (just for the first newsletter) -->
{% capture text %}

	Welcome to the first issue of the Origami Newsletter!
	We'll be sending out an email like this at the end of each month,
	keeping all the people who use Origami up-to-date with what we're working on.

{% endcapture %}
{% include email/paragraph.html content=text extra_styles="font-style: italic;" %}


<!-- TL;DR -->
{% capture text %}

	This issue covers a new major version of o-layout,
	the release of the Polyfill Service v3,
	and an overview of the Origami roadmap for 2019.

{% endcapture %}
{% include email/tldr.html content=text %}


<!-- Top 3 things -->
{% include email/h2.html content="Top three things" %}

{% capture text %}

	These are some of the bigger things we've worked on or released over the last month.

{% endcapture %}
{% include email/paragraph.html content=text %}

<!-- Thing 1 -->
{% include email/h3.html content="New major of o-layout" %}
{% capture text %}

	The v3.0.0 release of o-layout adds two new layout options:
	landing page and query page. These should reduce the amount
	of time that teams spend overriding styles. The aim of o-layout
	is to provide a one-stop-shop for the visual presentation of
	internal services and documentation.

{% endcapture %}
{% include email/paragraph.html content=text %}

<!-- Thing 2 -->
{% include email/h3.html content="New major of the Polyfill Service" %}
{% capture text %}

	TODO

{% endcapture %}
{% include email/paragraph.html content=text %}

<!-- Thing 3 -->
{% include email/h3.html content="New component: o-stepped-progress" %}
{% capture text %}

	TODO

{% endcapture %}
{% include email/paragraph.html content=text %}


<!-- Special thanks -->
{% include email/h2.html content="Special thanks" %}

{% capture text %}

	This month’s special thanks goes to Chee Rabbits, who has been
	helping the team to make Origami components available on npm.
	They’ve been a lot of fun to work with, and have persevered time
	and time again with some very complicated technical problems.
	Thanks Chee 😊

{% endcapture %}
{% include email/paragraph.html content=text %}


<!-- Broader update -->
{% include email/h2.html content="Broader update" %}

{% capture text %}
	A digest list of the releases that have happened over the last month.
{% endcapture %}
{% include email/paragraph.html content=text %}

{% capture text %}

  - MAJOR: o-stepped-progress v1.0.0 was released, [see the registry for more info](https://registry.origami.ft.com/components/o-stepped-progress@1.0.0)
  - MAJOR: o-loading v3.0.0 was released, [see migration guide](https://github.com/Financial-Times/o-loading/blob/master/MIGRATION.md#migrating-from-2xx-to-3xx)
  - MAJOR: o-video v5.0.0 was released, [see migration guide](https://github.com/Financial-Times/o-video/blob/master/MIGRATION.md#migrating-from-40-to-50)
  - MINOR: o-typography v5.8.0 was released, [see the PR for more info](https://github.com/Financial-Times/o-typography/pull/166)
  - MINOR: 7 new faces were published to [our headshot image set](https://registry.origami.ft.com/components/headshot-images)
  - PATCH: [o-colors v4.7.10](https://registry.origami.ft.com/components/o-colors@4.7.10) was released, adding whitelabel brand support
  - PATCH: [o-layout v2.2.5](https://registry.origami.ft.com/components/o-layout@2.2.5) was released, allowing links to be unstyled
  - PATCH: [origami-build-tools v7.12.3](https://github.com/Financial-Times/origami-build-tools) was released
  - PATCH: We did some consistency and maintenance work on:
    - o-icons
    - o-table
    - o-tracking

{% endcapture %}
{% include email/markdown-list.html content=text %}
