---
title: Origami Newsletter, July 2019
companion_post_url: https://origami.ft.com/blog/2019/07/31/newsletter/
---

<!-- TL;DR -->
{% capture text %}
    This issue announces TODO
{% endcapture %}
{% include email/tldr.html content=text %}


<!-- Top 3 things -->
{% include email/h2.html content="Top three things" %}

{% capture text %}These are some of the bigger things we've done over the last month.{% endcapture %}
{% include email/markdown.html content=text %}

<!-- Thing 1 -->
{% include email/h3.html content="TODO" %}
{% capture text %}
TODO
{% endcapture %}
{% include email/markdown.html content=text %}

<!-- Thing 2 -->
{% include email/h3.html content="TODO" %}
{% capture text %}
TODO
{% endcapture %}
{% include email/markdown.html content=text %}

<!-- Thing 3 -->
{% include email/h3.html content="TODO" %}
{% capture text %}
TODO
{% endcapture %}
{% include email/markdown.html content=text %}


<!-- Special thanks -->
{% include email/h2.html content="Special thanks" %}

{% capture text %}
Our special thanks this month goes to TODO
{% endcapture %}
{% include email/markdown.html content=text %}


<!-- Broader update -->
{% include email/h2.html content="Broader update" %}

{% capture text %}A digest list of other things that have happened over the last month:{% endcapture %}
{% include email/markdown.html content=text %}

{% capture text %}
- TODO
{% endcapture %}
{% include email/markdown-list.html content=text %}
