<header class="o-header-services" data-o-component="o-header-services">
	<div class="o-header-services__top">
			<div class="o-header-services__hamburger">
				<a class="o-header-services__hamburger-icon" href="#" role="button">
					<span class="o-header-services__visually-hidden">Open primary navigation</span>
				</a>
			</div>
		<div class="o-header-services__logo"></div>
		<div class="o-header-services__title">
			<a class="o-header-services__product-name" href="/">Origami</a>
			<span class="o-header-services__product-tagline">Frontend Components &amp; Services</span>
		</div>
	</div>

	<nav class="o-header-services__primary-nav" aria-label="primary">
		<ul class="o-header-services__primary-nav-list">
			<li>
				<a href="/" {% if page.url == '/' %}aria-current="true"{% endif %}>
					Home
				</a>
			</li>
			<li>
				<a href="/docs/" {% if page.url contains '/docs/' %}aria-current="true"{% endif %}>
					Docs
				</a>
			</li>
			<li>
				<a href="/spec/" {% if page.url contains '/spec/' %}aria-current="true"{% endif %}>
					Specs
				</a>
			</li>
			<li>
				<a href="https://origami-registry-ui-qa.herokuapp.com/components"> Registry</a>
			</li>
			<li>
				<a href="/blog/" {% if page.url contains '/blog/' %}aria-current="true"{% endif %}>
					Blog
				</a>
			</li>
		</ul>
	</nav>


	{% if page.url contains '/docs/' or page.collection_id or page.collection %}
	<nav class="o-header-services__secondary-nav" aria-label="secondary" data-o-header-services-nav="">
		<div class="o-header-services__secondary-nav-content" data-o-header-services-nav-list="">
			<ol class="o-header-services__secondary-nav-list o-header-services__secondary-nav-list--ancestors" aria-label="Ancestor sections">
			{% if page.url contains '/docs/' %}
										<li>
											<a href="/docs/" {% if page.url == '/docs/' %}aria-current="true"{% endif %}>
												Docs
											</a>
										</li>
									{% endif %}

									{% if page.collection_id %}
										<!-- Collection index page-->
										<li>
											<a href="{{ page.url }}" aria-current="true">
												{% if page.nav_label %}
													{{ page.nav_label }}
												{% else %}
													{{ page.title }}
												{% endif %}
											</a>
										</li>
									{% elsif page.collection %}
										<!-- Collection item page -->
										<li>
											{% assign collection = site.pages | where: 'collection_id', page.collection | first %}
											<a href="{{ collection.url }}">
												{% if collection.nav_label %}
													{{ collection.nav_label }}
												{% else %}
													{{ collection.title }}
												{% endif %}
											</a>
										</li>
									{% endif %}
			</ol>

			<ul class="o-header-services__secondary-nav-list o-header-services__secondary-nav-list--children" aria-label="Child sections">
									{% if page.url == '/docs/' %}

										<li>
											<a href="/docs/principles/"
												{% if page.url contains '/docs/principles/' %}aria-current="true"{% endif %}
											>
												Principles
											</a>
										</li><li>
											<a href="/docs/components/"
												{% if page.url contains '/docs/components/' %}aria-current="true"{% endif %}
											>
												Components
											</a>
										</li><li>
											<a href="/docs/services/"
												{% if page.url contains '/docs/services/' %}aria-current="true"{% endif %}
											>
												Services
											</a>
										</li><li>
											<a href="/docs/tutorials/"
												{% if page.url contains '/docs/tutorials/' %}aria-current="true"{% endif %}
											>
												Tutorials
											</a>
										</li>

									{% else %}

										{% if page.collection_id %}
											{% assign nav_items = site[page.collection_id] | sort: 'nav_order', 'last' %}
										{% elsif page.collection %}
											{% assign nav_items = site[page.collection] | sort: 'nav_order', 'last' %}
										{% endif %}

										{% for nav_item in nav_items %}
											{% if nav_item.nav_display %}
												<li>
													<a href="{{ nav_item.url }}"
														{% if nav_item.url == '/' %}
															{% if page.url == nav_item.url %}aria-current="true"{% endif %}
														{% else %}
															{% if page.url contains nav_item.url %}aria-current="true"{% endif %}
														{% endif %}
													>
														{% if nav_item.nav_label %}
															{{ nav_item.nav_label }}
														{% else %}
															{{ nav_item.title }}
														{% endif %}
													</a>
												</li>
											{% endif %}
										{% endfor %}

									{% endif %}
			</ul>
		</div>
		<button class="o-header-services__scroll-button o-header-services__scroll-button--left" title="scroll left" aria-hidden="true" disabled></button>
		<button class="o-header-services__scroll-button o-header-services__scroll-button--right" title="scroll right" aria-hidden="true" disabled></button>
	</nav>
	{% endif %}
</header>


