---
#// Empty front-matter to ensure that Jekyll processes this file
---

// NOTE
// Some temporary styles just to make this look less awful while
// we work on it. Remove these as soon as styling work begins

html, body {
	margin: 0;
	height: 100%;
}

a[href$="TODO"] {
	color: tomato;
	border-bottom-color: tomato;
}


abbr {
	text-decoration: none;
	border-bottom: 1px dotted black;
}

.no-wrap {
	white-space: nowrap;
}

aside.no-padding {
	padding-left:0;
	grid-row: span 7;

	p { padding-left: 1em }
	pre { margin: 0 }
}

iframe {
	border: none;
	margin-bottom: 1em;
	width: 100%;
}
