---
#// Empty front-matter to ensure that Jekyll processes this file
---

// NOTE
// Some temporary styles just to make this look less awful while
// we work on it. Remove these as soon as styling work begins

html, body {
	margin: 0;
	height: 100%;
}

abbr {
	text-decoration: none;
	border-bottom: 1px dotted black;
}

.no-wrap {
	white-space: nowrap;
}

aside.no-padding {
	padding-left: 0;
	grid-row: span 7;

	p { padding-left: 1em }
	pre { margin: 0 }
}


iframe {
	border: none;
	margin-bottom: 1em;
	width: 100%;
}

img {
	display: inline-block;
	max-width: 100%;
}

table.o-manifest__table {
	width: auto;
}

.o-layout__hero:before {
	background-image: url('./images/home-page-hero.jpg');
}

svg {
	display: none;
}

@media (prefers-reduced-motion: no-preference) and (min-width: 490px) {
	.o-website__hero--home {
		padding: 0;
		
		&.o-layout__hero:before {
			content: none;
		}

		svg {
			display: block;
			width: 100vw;
			min-height: 40vh;
		}
	}

	.o-website__hero--text {
		position: absolute;
		pointer-events: none;
	}
}


.o-header-services__logo {
	background-image: url(https://www.ft.com/__origami/service/image/v2/images/raw/ftlogo-v1:origami?format=svg&source=origami&width=55);
}

// Blog styles introduce their own layout stuff, which isn't
// great. We possibly need to find a nicer way to do this.
$o-website-bottom-spacing: 28px;

.o-website__blog-listing {
	list-style: none;
	padding: 0;
}

.o-website__blog-post {
	margin-bottom: $o-website-bottom-spacing;

	// Specificity required to override o-layout styles
	&__title {
		margin-bottom: 8px !important;
	}
	&__description {
		margin-bottom: 4px !important;
	}
	&__meta {
		margin-bottom: 0 !important;
		font-size: 16px !important;
	}
}
